.slideshow-item {
    &-wrap {
        background: linear-gradient(to bottom,  rgba(8, 1, 1, 1), rgba(121, 31, 31, 0.7));
    }
    object-fit: cover;
    opacity: 0.5;
}

.slideshow {
    &-caption {
        text-align: center;
        padding-bottom: 5%;
    }
}